<hr />
<header>
  <p>Rendered by layouts/partials/header.html</p>

  <nav>
    <ul>
      <li><a href="{{ .Site.Home.Permalink  }}">Home</a></li>
      <li><a href="{{ "about" | relURL }}">About</a></li>
      <li><a href="{{ "colophon" | relURL }}">colophon</a></li>
    </ul>

    <h3>Tags</h3>
    <ul>
      {{ range .Site.Taxonomies.tags }}
      <li><a href="{{ .Page.RelPermalink }}">{{ .Page.LinkTitle }}</a></li>
      {{ end }}
    </ul>

    <h3>Categories</h3>
    <ul>
      {{ range .Site.Taxonomies.categories }}
      <li><a href="{{ .Page.RelPermalink}}">{{ .Page.LinkTitle}}</a></li>
      {{ end }}
    </ul>
  </nav>
</header>
<hr />
